src/step_functions/workflow.json
{
  "Comment": "Enterprise Autonomous Incident Healer Workflow v3 (Dual Approval)",
  "StartAt": "ParallelAnalysis",
  "States": {
    "ParallelAnalysis": {
      "Type": "Parallel",
      "Next": "EvaluateRiskAndCost",
      "ResultPath": "$.ParallelAnalysis",
      "Branches": [
        {
          "StartAt": "AnalyzeIncident",
          "States": {
            "AnalyzeIncident": {
              "Type": "Task",
              "Resource": "${analyzer_arn}",
              "Parameters": {
                "incident_id.$": "$.incident_id",
                "alarm_name.$": "$.alarm_name",
                "reason.$": "$.reason",
                "timestamp.$": "$.timestamp",
                "analysis_type": "ROOT_CAUSE"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "PredictiveCheck",
          "States": {
            "PredictiveCheck": {
              "Type": "Task",
              "Resource": "${analyzer_arn}",
              "Parameters": {
                "incident_id.$": "$.incident_id",
                "alarm_name.$": "$.alarm_name",
                "reason.$": "$.reason",
                "timestamp.$": "$.timestamp",
                "analysis_type": "PREDICTIVE"
              },
              "End": true
            }
          }
        }
      ]
    },
    "EvaluateRiskAndCost": {
      "Type": "Task",
      "Resource": "${cost_estimator_arn}",
      "Parameters": {
        "analysis.$": "$.ParallelAnalysis[0]",
        "prediction.$": "$.ParallelAnalysis[1]"
      },
      "ResultPath": "$.RiskAssessment",
      "Next": "ApprovalChoice"
    },
    "ApprovalChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.RiskAssessment.risk_level",
          "StringEquals": "HIGH",
          "Next": "RequestApproval"
        }
      ],
      "Default": "ExecuteHealing"
    },
    "RequestApproval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${send_approval_request_arn}",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "incident_id.$": "$.incident_id",
          "analysis.$": "$.ParallelAnalysis[0]",
          "risk_assessment.$": "$.RiskAssessment"
        }
      },
      "TimeoutSeconds": 3600,
      "ResultPath": "$.ApprovalResult",
      "Next": "ExecuteHealing",
      "Catch": [
        {
          "ErrorEquals": [
            "ManualRejection"
          ],
          "Next": "NotifyFailure"
        },
        {
          "ErrorEquals": [
            "States.Timeout"
          ],
          "Next": "NotifyFailure"
        }
      ]
    },
    "ExecuteHealing": {
      "Type": "Task",
      "Resource": "${healer_arn}",
      "Parameters": {
        "incident_id.$": "$.incident_id",
        "timestamp.$": "$.timestamp",
        "analysis.$": "$.ParallelAnalysis[0]",
        "action_type": "PRIMARY"
      },
      "ResultPath": "$.HealingResult",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FallbackHealing"
        }
      ],
      "Next": "WaitForStability"
    },
    "FallbackHealing": {
      "Type": "Task",
      "Resource": "${healer_arn}",
      "Parameters": {
        "incident_id.$": "$.incident_id",
        "timestamp.$": "$.timestamp",
        "analysis.$": "$.ParallelAnalysis[0]",
        "action_type": "FALLBACK"
      },
      "ResultPath": "$.HealingResult",
      "Next": "WaitForStability"
    },
    "WaitForStability": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "VerifyHealing"
    },
    "VerifyHealing": {
      "Type": "Task",
      "Resource": "${analyzer_arn}",
      "Parameters": {
        "incident_id.$": "$.incident_id",
        "timestamp.$": "$.timestamp",
        "action": "verify"
      },
      "ResultPath": "$.VerificationResult",
      "Next": "VerificationChoice"
    },
    "VerificationChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.VerificationResult.status",
          "StringEquals": "VERIFIED",
          "Next": "NotifySuccess"
        }
      ],
      "Default": "RollbackAction"
    },
    "RollbackAction": {
      "Type": "Task",
      "Resource": "${healer_arn}",
      "Parameters": {
        "incident_id.$": "$.incident_id",
        "timestamp.$": "$.timestamp",
        "analysis.$": "$.ParallelAnalysis[0]",
        "action_type": "ROLLBACK"
      },
      "ResultPath": "$.RollbackResult",
      "Next": "NotifyFailure"
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "${notifier_arn}",
      "Parameters": {
        "incident_id.$": "$.incident_id",
        "status": "HEALED",
        "details.$": "$.HealingResult",
        "analysis.$": "$.ParallelAnalysis[0]"
      },
      "End": true
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "${notifier_arn}",
      "Parameters": {
        "incident_id.$": "$.incident_id",
        "status": "FAILED",
        "details.$": "$.HealingResult",
        "analysis.$": "$.ParallelAnalysis[0]"
      },
      "End": true
    }
  }
}